* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: linear-gradient(to right, #4c4c4c, rgb(33, 33, 33) 60%);
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective-origin: 50%;
    -webkit-perspective-origin: 50%;
    width: 100vw;
}

/* Start CSS */
.Start{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
}
.bor{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    transform: rotateY(0deg);
    animation: border 2s linear forwards;
}

.Start i{
    position: absolute;
    z-index: 2;
    transition: all 0.4s;
    animation: game 4s linear forwards;
    font-size: 60px;
    color:white;
    border-radius: 50%;
    padding: 5px;
}

@keyframes border{
    50%{
        transform: rotateY(720deg);
    }
    100%{
        transform: rotateY(0deg);
        width: 80px;
        height: 80px;
        border-width: 6px;
    }
}
@keyframes game{
    0%{
        opacity: 0;
        transform: scale(0) rotate(0deg) rotateZ(0deg);
        color:red;
    }
    50%{
        opacity: 1;
        transform: scale(1) rotate(720deg) rotateZ(360deg);
    }
    60%{
        transform: scale(2) rotate(180deg) rotateY(0deg) rotateZ(180deg);
    }
    80%{
        transform: scale(1.5) rotateY(720deg);
        color: red;
    }
    100%{
        color: white;
        transform: scale(1);
    }
}

.Start i:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

.Start i:active{
    transition: none;
    color: black;
    background-color: white;
}


/* Loading Bar CSS */
.Loadingbar {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.load {
    height: 250px;
    width: 250px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}

.face {
    background-color: white;
    height: 250px;
    width: 250px;
    border: 10px solid black;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
}

.front {
    transform: translateZ(125px);
}

.back {
    transform: translateZ(-125px) rotateY(180deg);
}

.left {
    transform: rotateY(270deg) translateX(-125px);
    transform-origin: center left;
}

.right {
    transform: rotateY(270deg) translateX(125px);
    transform-origin: top right;
}

.face>div {
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
}

.front>div {
    top: 95px;
    left: 95px;
}

.left>div:nth-child(1) {
    top: 15px;
    left: 15px;
}

.left>div:nth-child(2) {
    top: 95px;
    left: 95px;
}

.left>div:nth-child(3) {
    bottom: 15px;
    right: 15px;
}

.right>div:nth-child(1) {
    top: 15px;
    left: 15px;
}

.right>div:nth-child(2) {
    top: 95px;
    left: 95px;
}

.right>div:nth-child(3) {
    top: 15px;
    right: 15px;
}

.right>div:nth-child(4) {
    bottom: 15px;
    left: 15px;
}

.right>div:nth-child(5) {
    bottom: 15px;
    right: 15px;
}

.back>div:nth-child(1) {
    top: 15px;
    left: 15px;
}

.back>div:nth-child(2) {
    bottom: 15px;
    right: 15px;
}

.Bar {
    margin-top: 150px;
}

.Bar h1 {
    font-family: sans-serif;
    color: white;
    text-shadow: 3px 4px 1px black;
}

.Bar h1 i {
    font-size: 7px;
}

.progress {
    position: relative;
    height: 10px;
    width: 1000px;
    border: 5px solid #000000;
    border-radius: 15px;
}

.progress .color {
    position: absolute;
    background-image: linear-gradient(to right, rgb(174, 255, 0) 1%, rgb(47, 150, 0), rgb(0, 144, 0), rgb(0, 88, 0) 90%);
    width: 100%;
    height: 10px;
    border-radius: 15px;
    animation: progres 15s linear forwards;
}

@keyframes progres {
    0% {
        width: 0%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 75%;
    }

    75% {
        width: 85%;
    }

    100% {
        width: 100%;
    }
}

/* Play Game CSS */
.gameon{
    height: 100vh;
    font-family: sans-serif;
    font-weight: bolder;
}
.gameon h1{
    font-size: 6rem;
    padding: 20px;
    color: white;
    text-shadow: 4px 2px 1px black;
}
.option ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 50px;
} 
.option li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px inset white;
    color: white;
    background-color: #000000;
    text-shadow: 3px 1px 2px rgb(57, 57, 57);
    font-size: 50px;
    width: 70px;
    height: 70px;
    margin: 0 10px; 
    box-shadow: 2px 2px 2px white;
    transition: all 0.2s;
}
.option li:hover{
    background-color: green;
    transform: scale(1.1);
    cursor: pointer;
}
.option li:active{
    transition: none;
    background-color: red;
    transform: scale(1  );
}
.show{
    border: 4px inset white;
    text-shadow: 3px 1px 2px rgb(57, 57, 57);
    box-shadow: 2px 2px 2px white;
    background-color: #000000;
    margin-top: 30px;
    padding: 0px 20px;
    margin-right: 20%;
    margin-left: 75%;
    height: 70px;
    display: flex;
    text-align: right;
    justify-content: right;
    font-size: 50px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
}
.show:hover{
    cursor: not-allowed;
}
.dice{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    overflow: hidden;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 300px;
}
.gift-top{
    top: -100px;
    width: 290px;
    position: absolute;
    height: 83px;
    border-bottom: 18px solid white;
    background-color: rgb(0, 0, 0);
}

.fall-up{
    animation: upper 2s linear forwards;
}
@keyframes upper{
    100%{
        top: 0;
    }
}
.remove-up{
    top: 0px;
    width: 290px;
    position: absolute;
    height: 83px;
    border-bottom: 18px solid white;
    background-color: rgb(0, 0, 0);
    animation: up 2s linear forwards;
}
@keyframes up{
    100%{
        top: -100px;
    }
}

.gift-bottom{
    background-color: rgb(0, 0, 0);
    width: 290px;
    position: absolute;
    bottom: -200px;
    height: 182px;
    border-top: 18px solid white;
}
.fall-down{
    animation: lower 2s linear forwards;
}
@keyframes lower{
    100%{
        bottom: 0px;
    }
}
.remove-down{
    background-color: rgb(0, 0, 0);
    width: 290px;
    position: absolute;
    bottom: 0px;
    height: 182px;
    border-top: 18px solid white;
    animation: low 2s linear forwards;
}
@keyframes low{
    100%{
        bottom: -200px;
    }
}
.slash2{
     position: absolute;
    height: 200px;
    width: 35px;
    background-color: white;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
}
.slash1{
    position: absolute;
    height: 100px;
    width: 35px;
    background-color: white;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}

.box-shake{
    animation: shake 4s linear backwards;
}
@keyframes shake{
    0%{transform: rotate(25deg);}
    5%{transform: rotate(0deg);}
    10%{transform: rotate(-25deg);}
    15%{transform: rotate(0deg);}
    20%{transform: rotate(25deg);}
    25%{transform: rotate(0deg);}
    30%{transform: rotate(-25deg);}
    35%{transform: rotate(0deg);}
    40%{transform: rotate(25deg);}
    45%{transform: rotate(0deg);}
    50%{transform: rotate(-25deg);}
    55%{transform: rotate(0deg);}
    60%{transform: rotate(25deg);}
    65%{transform: rotate(0deg);}
    70%{transform: rotate(-25deg);}
    75%{transform: rotate(0deg);}
    80%{transform: rotate(25deg);}
    85%{transform: rotate(0deg);}
    90%{transform: rotate(-25deg);}
    100%{transform: rotate(0deg);}
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items:first baseline;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-shadow: 3px 2px 2px black;
}
.scoreboard span{
    font-size: 60px;
    color: red;
}
.score{
    font-size: 60px;
    padding-left: 30px;
}
.minus{
    animation: sub 0.5s linear backwards;
}
@keyframes sub{
    0%{
        transform: scale(1); 
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        color:red;
        transform: scale(1);
    }
}
.plus{
    animation: add 0.5s linear backwards;
}
@keyframes add{
    0%{
        transform: scale(1); 
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        color:green;
        transform: scale(1);
    }
}










.option li.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.hidden {
    display: none !important;
}
